<div class="text-layout">
  <h2>Custom pipes</h2>

  <p>Custom pipes. {{ "they" | capitalletter : isUpper }}</p>
</div>

<p-toolbar>
  <div class="p-toolbar-group-start"></div>
  <div class="p-toolbar-group-end">
    <button
      pButton
      label="toggle Upper"
      class="mr-1 p-button-warning"
      (click)="changeStatusText()"
    ></button>
    <button
      pButton
      icon="pi pi-sort"
      label="by Name"
      class="mr-1"
      (click)="changeOrder('name')"
    ></button>
    <button
      pButton
      icon="pi pi-sort"
      label="by Values"
      class="mr-1 p-button-success"
      (click)="changeOrder('value')"
    ></button>
    <button
      pButton
      icon="pi pi-sort"
      label="by Color"
      class="mr-1 p-button-help"
      (click)="changeOrder('color')"
    ></button>
  </div>
</p-toolbar>

<div class="p-grid">
  <div class="mt-2">
    <p-table
      [value]="heroes | order : orderBy"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Fly</th>
          <th>Color</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hero>
        <tr>
          <td>{{ hero.name }}</td>
          <td>{{ hero.fly | flypipe | titlecase }}</td>
          <td>{{ hero.color }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="p-grid">
  <div class="mt-2">
    <p-table
      [value]="heroes | slice : 0"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="width: 20%">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="fly" style="width: 20%">
            Fly <p-sortIcon field="fly"></p-sortIcon>
          </th>
          <th pSortableColumn="color" style="width: 20%">
            Color <p-sortIcon field="color"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hero>
        <tr>
          <td>{{ hero.name }}</td>
          <td>{{ hero.fly | flypipe | titlecase }}</td>
          <td>{{ hero.color }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
