<div class="text-layout">
  <h2>Basic Pipes</h2>

  <p>Pipes incluidos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="uppercase" [subheader]="phraseLower">{{
      phraseLower | uppercase
    }}</p-card>
  </div>
  <div class="col-4">
    <p-card header="lowercase" [subheader]="phraseUpper">{{
      phraseUpper | lowercase
    }}</p-card>
  </div>
  <div class="col-4">
    <p-card header="titlecase" [subheader]="phraseFull">{{
      phraseFull | titlecase
    }}</p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Pipe</h1>
  <p>Pipe para mostrar las fechas.</p>
</div>

<div class="grid">
  <div class="col-6">
    <p-card>
      <ul>
        <li>date</li>
        <li>date | date</li>
        <li>date | date: 'short'</li>
        <li>date | date: 'long'</li>
        <li>date | date: 'MMMM'</li>
        <li>date | date : 'dd, MM yyyy'</li>
      </ul>

      <hr />

      <ul>
        <li>date | date: 'long':'GMT-6'</li>
        <li>date | date: 'long':'GMT-4'</li>
        <li>date | date : "long" : "":"fr"</li>
      </ul>
    </p-card>
  </div>
  <div class="col-6">
    <p-card>
      <ul>
        <li>{{ date }}</li>
        <li>{{ date | date }}</li>
        <li>{{ date | date : "short" }}</li>
        <li>{{ date | date : "long" }}</li>
        <li>{{ date | date : "MMMM" }}</li>
        <li>{{ date | date : "dd, MM yyyy" }}</li>
      </ul>

      <hr />

      <ul>
        <li>{{ date | date : "long" : "GMT-6" : "es-CO" }}</li>
        <li>{{ date | date : "long" : "GMT-4" }}</li>
        <li>{{ date | date : "long" : "" : "fr" }}</li>
      </ul>
    </p-card>
  </div>
</div>
